.page {
  &__form {
    &__name {
      display: flex;
      flex-direction: column;
      width: 100%;

      .bp3-form-group {
        width: 100%;
      }
    }

    &__name {
      width: 100%;
    }
  }
}
