@import "~@blueprintjs/core/lib/scss/variables";

.square-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  min-width: 36px;
  background-color: $blue5;
  margin-right: 10px;

  &.danger {
    background-color: $red5;
  }

  .bp3-icon svg {
    fill: #fff;
  }
}
