
.embed-media-dialog {
  padding-bottom: 0;
}

.media-embed-input-field {
  padding: 0;
}

.media-embed-height-input-group {
  width: 48%;
  margin-left: 4%;
}

.media-embed-width-input-group {
  width: 48%;
}

.embed-media-dialog-btn {
  float: right;
}
