@import "~@blueprintjs/core/lib/scss/variables";

.database {
  &__item {
    font-size: 22px;
    font-weight: 500;
    color: $dark-gray1;
    padding: 13px 10px;
    border-bottom: solid 1px $light-gray1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &__icon {
      display: flex;
      align-items: center;
    }
  }
}
