.slate-CodeBlockElement {
  padding: 10px 14px;
  font-size: 16px;
  font-family: SFMono-Regular, Consolas, Monaco, 'Liberation Mono',
  Menlo, Courier, monospace;
  tab-size: 2;
  line-height: normal;
  border-radius: 3px;
  background-color: rgb(247, 246, 243);
}

.duplicate-icon {
  position: absolute;
  right: 10px;
  color: #888;
  cursor: pointer;
  display: none;
}

